*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 /* background-color: coral;*/
}
.app{
  max-width:1000px;
  /*max-height: 1000px;*/
  background: blue;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,.5);
  
} 
.app h1{
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.todo-wrap{
  display: flex;
  margin: 1rem;
  width: 50%;

}
.todo-wrap .todo{
flex: 50%;
background: #91aabb;
padding: 0.5rem;
font-size: 18px;
}
.todo-wrap button{
  background:brown;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: all ease 0.2s;
}
.todo-wrap button:hover{
  opacity: 0.9;

}
.no-todo{
  background: #91aabb;
  text-align: center;
  padding: 1rem 0;
  margin: 1rem,0;
  font-size: 20px;
}
.add-todo{
  margin-top: 2rem;
}
.add-todo form{
  display: flex;
  flex-direction: column;
  

}
.add-todo label{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: .5rem;

}
.add-todo input{
  height: 2.5rem;
  width: 100%;
  border: none;
  border: none;
  font-size: 18px;
  text-indent: .5rem;
  padding-right: 1rem;
}
.message{
  font-size: 16px;
  text-align: center;
  padding: 1rem 0;
}
.success{
  background: green;
}
.danger{
  background: orangered;
}
.to-do{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color:black;
  text-align: right;
  margin-bottom: 2rem;
}
.done{
  text-transform: uppercase;
  font-size: 18px;
  color:black;
  font-weight: 700;
  text-align:left;
  padding-left: 50%;
  margin-top: 2rem;
  
}














